* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    border-bottom: 1px solid #333;
}

.container {
    width: 90%;
    max-width: 900px;
    margin: 50px auto 0;
}

.card {
    border: 1px solid #333;
    border-radius: 5px;
    overflow: hidden;
}

.card h3 {
    background: #dcdcdc;
    padding: 10px 5px;
}